ssh-Steel-github
ssh-Steel-github.pub
steelInventario
steelInventario.pub
/packages
/.vs
/Repository.Access/bin
/Repository.Access/obj
/Repository.Data/bin
/Repository.Data/obj
/sln-Steel/bin
/sln-Steel/obj
/sln-Steel/release
/sln-Steel/app/dist
/sln-Steel/app/node_modules
/Aws-TestApi/Aws-TestApi/obj
/Aws-TestApi/Aws-TestApi/bin
/Aws-TestApi/Aws-TestApi/packages
/Aws-TestApiNet6/obj
/Aws-TestApiNet6/bin
/Aws-TestApiNet6/Repository.Access/bin
/Aws-TestApiNet6/Repository.Access/obj
/Aws-TestApiNet6/Repository.Data/bin
/Aws-TestApiNet6/Repository.Data/obj
/Aws-TestApiNet6/packages
/Aws-TestApiNet6/release
/Aws-TestApiNet6/.vs/*.*
/Aws-TestApiNet6/.vs/*
/Aws-TestApiNet6/.vs/
/ApiSteel-NET6/bin
/ApiSteel-NET6/obj
/ApiSteel-NET6/ClientApp/.angular
/ApiSteel-NET6/ClientApp/node_modules
/ApiSteel-NET6/Repository.Access/bin
/ApiSteel-NET6/Repository.Access/obj
/ApiSteel-NET6/Repository.Data/bin
/ApiSteel-NET6/Repository.Data/obj