<div class="flex items-center justify-center h-screen w-full bg-primary">
  <div class="rounded-lg bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 p-9">
      <!-- Atrás -->
      <div class="mt-5">
        <router-back
          class="text-4xl"
          tooltip="Ir a iniciar sesión"
          label="Atrás"
          route="/sign-in"
          [replace]="true"
        ></router-back>
      </div>
      <!-- Title -->

      <div class="mt-2 text-3xl font-extrabold tracking-tight leading-tight text-primary">Cambiar contraseña</div>
      <!-- Forgot password form -->
      <form class="mt-5" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">
        <!-- Password field -->
        <mat-form-field class="w-full">
          <mat-label>Nueva contraseña</mat-label>
          <input id="Password" matInput type="password" [formControlName]="'Password'" #passwordField />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordField.type === 'password' ? (passwordField.type = 'text') : (passwordField.type = 'password')
            "
            matSuffix
          >
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'password'"
              [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordField.type === 'text'"
              [svgIcon]="'heroicons_solid:eye-off'"
            ></mat-icon>
          </button>
          <mat-error>La contraseña es requerida.</mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Confirmación de contraseña</mat-label>
          <input
            id="ConfirmPassword"
            matInput
            type="password"
            [formControlName]="'ConfirmPassword'"
            #passwordConfirmField
          />
          <button
            mat-icon-button
            type="button"
            (click)="
              passwordConfirmField.type === 'password'
                ? (passwordConfirmField.type = 'text')
                : (passwordConfirmField.type = 'password')
            "
            matSuffix
          >
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordConfirmField.type === 'password'"
              [svgIcon]="'heroicons_solid:eye'"
            ></mat-icon>
            <mat-icon
              class="icon-size-5"
              *ngIf="passwordConfirmField.type === 'text'"
              [svgIcon]="'heroicons_solid:eye-off'"
            ></mat-icon>
          </button>
          <mat-error> La confirmación de la contraseña es requerida. </mat-error>
        </mat-form-field>
        <mat-error
          *ngIf="
            resetPasswordForm.errors?.mismatch &&
            (resetPasswordForm.controls['Password'].dirty || resetPasswordForm.controls['ConfirmPassword'].touched)
          "
          >Las contraseñas no coinciden.</mat-error
        >

        <!-- Submit button -->
        <button
          class="fuse-mat-button-large w-full rounded-br-2xl rounded-bl-none rounded-tl-none rounded-tr-none bg-primary-700 text-white text-xl"
          mat-flat-button
          (click)="resetPassword()"
          [disabled]="
            resetPasswordForm.disabled ||
            !resetPasswordForm.get('ConfirmPassword').value ||
            !resetPasswordForm.get('Password').value ||
            resetPasswordForm.errors?.mismatch
          "
        >
          <span>Cambiar contraseña</span>
          <mat-progress-spinner
            *ngIf="resetPasswordForm.disabled"
            [diameter]="5"
            [mode]="'indeterminate'"
            [disabled]="
              resetPasswordForm.disabled ||
              !resetPasswordForm.get('ConfirmPassword').value ||
              !resetPasswordForm.get('Password').value
            "
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
</div>
