.backgroud-custom {
    background-size: 100% auto !important;
    // background-repeat: no-repeat !important;
    background-position-y: center !important;
}

.bg-empresa {
    background-size:   100% !important;
    background-repeat: no-repeat !important;
    background-position-y: center !important;
    background-color: white!important;
}
