<div class="flex items-center justify-center h-screen w-full bg-primary">
  <div class="rounded-lg bg-card">
    <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0 p-9">
      <!-- Atrás -->
      <div class="mt-5">
        <router-back
          class="text-4xl"
          tooltip="Ir a iniciar sesión"
          label="Atrás"
          route="/sign-in"
          [replace]="true"
        ></router-back>
      </div>
      <!-- Title -->
      <div class="mt-2 text-3xl font-extrabold tracking-tight leading-tight text-primary-700">Recuperar contraseña</div>

      <!-- Forgot password form -->
      <form class="mt-5" [formGroup]="forgotPasswordForm" #forgotPasswordNgForm="ngForm">
        <div class="w-full">
          <mat-form-field class="w-full">
            <mat-label>Hospital</mat-label>
            <mat-select [formControlName]="'IdHospital'">
              <mat-option *ngFor="let hospital of listHospitales" [value]="hospital.Id">
                {{ hospital.Name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Email field -->
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input id="Email" matInput [formControlName]="'Email'" />
          <mat-error>El correo es requerido</mat-error>
        </mat-form-field>

        <!-- Submit button -->
        <button
          class="fuse-mat-button-large w-full rounded-br-2xl rounded-bl-none rounded-tl-none rounded-tr-none bg-primary-700 text-white text-xl"
          mat-flat-button
          (click)="recoveryPassword()"
        >
          <span>Solicitar contraseña</span>
          <mat-progress-spinner
            *ngIf="forgotPasswordForm.disabled"
            [diameter]="5"
            [mode]="'indeterminate'"
            [disabled]="
              forgotPasswordForm.disabled ||
              !forgotPasswordForm.get('IdHospital').value ||
              !forgotPasswordForm.get('Email').value
            "
          ></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
</div>
