.backgroud-custom {
  background-size: 100% auto !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important;
  background-color: #019dbc !important;
  border-right: 1px solid #88b6db38;
  border-top-right-radius: 50px;
}

.bg-empresa {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position-y: center !important;
  background-color: white !important;
}
